<?php if($this->pages): ?>
<ul class="breadcrumb">
    <?php foreach ($this->pages as $key => $page): ?>
        <li>
            <?php if ($key < count($this->pages) - 1): ?>
                <a href="<?php echo $page->getHref(); ?>"><?php echo $this->translate($page->getLabel()); ?></a>
            <?php else: ?>
                <?php echo $this->translate($page->getLabel()); ?>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
</ul>
<?php endif; ?>
