<!-- Scripts -->
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/angularjs/1.2.4/angular-resource.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/angular.ngtable/0.3.1/ng-table.js"></script>

<!-- build:js(public) /dist/js/min.js -->
<script src="/dist/js/vendor/Gettext.js"></script>
<script src="/dist/js/skeleton.js"></script>
<script src="/dist/js/app.js"></script>
<script src="/dist/js/controllers.js"></script>
<script src="/dist/js/controllers/tax.js"></script>
<script src="/dist/js/controllers/taxDetails.js"></script>
<script src="/dist/js/controllers/user.js"></script>
<script src="/dist/js/controllers/userDetails.js"></script>
<script src="/dist/js/controllers/role.js"></script>
<script src="/dist/js/controllers/roleDetails.js"></script>
<script src="/dist/js/directives.js"></script>
<script src="/dist/js/directives/alerts.js"></script>
<script src="/dist/js/directives/ui-editable-check.js"></script>
<script src="/dist/js/directives/ui-editable.js"></script>
<script src="/dist/js/filters.js"></script>
<script src="/dist/js/services.js"></script>
<script src="/dist/js/services/tax.js"></script>
<script src="/dist/js/services/user.js"></script>
<script src="/dist/js/services/role.js"></script>
<script src="/dist/js/services/utils.js"></script>
<!-- endbuild -->